

{% if user == current_user and current_user.status == 'a'%}
<li><a class="dropdown-item" href="#">新的项目</a></li>
<li><a class="dropdown-item" href="{{url_for('applicant_profile_page',name=current_user.username)}}">个人信息</a></li>
{% endif %}

{% if user == current_user and current_user.status == 'o'%}
<li><a class="dropdown-item" href="{{url_for('organization_child_page',name=current_user.username)}}">员工信息</a></li>
<li><a class="dropdown-item" href="{{url_for('organization_profile_page',name=current_user.username)}}">公司信息</a></li>
{% endif %}

{% if user == current_user and current_user.status == 's'%}
<li><a class="dropdown-item" href="{{url_for('admin_newclass_page',name=current_user.username)}}">新建项目类别</a></li>
{% endif %}
<li>
  <hr class="dropdown-divider">
</li>

<li><a class="dropdown-item" href="{{url_for('logout')}}">登出</a></li>