{% extends 'head.html' %}
{% block body %}

    {% include '_svg.html' %}

  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cpu-fill"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('user_home_page',name=current_user.username)}}" class="nav-link px-2 link-dark">主页</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">产品</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ current_user.avatar(128) }}" alt="{{current_user.username}}" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          {% include '_userdropdown.html' %}
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main class="flex-shrink-0">
    <div class="container-fluid">
      <div class="row g-5">
        <div class="col-md-2">
        {% include '_usersidebar.html' %}
        </div>
        <div class="col-md-10">
          {% block app_content %}{% endblock  %}
        </div>
      </div>
    </div>
  </main>
    <footer class="footer py-3 mt-auto ">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{{url_for('user_home_page',name=current_user.username)}}" class="nav-link px-2 text-muted">主页</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">关于</a></li>
      </ul>
      <p class="text-center text-muted">© 2021 L&L P</p>
    </footer>
  <script>
     $('#sidebar1').find('a').each(function () {
          if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
              $(this).addClass('active'); // this.className = 'nav-link active';
          }
      });
  </script>
{% endblock %}