{% include 'head.html' %}

<body>
  <main>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">项目评审管理系统</h1>
          <p class="col-lg-10 fs-4">快速、轻松</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light" action = "" method = "POST">
              {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" name="username" placeholder="账号">
              {{ form.username.label(for="floatingInput") }}
<!--              <label for="floatingInput">账号</label>-->
                 {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="密码">
<!--              <label for="floatingPassword">密码</label>-->
              {{ form.password.label(for="floatingPassword") }}
                 {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword2" name="password2" placeholder="重复密码">
<!--              <label for="floatingPassword2">重复密码</label>-->
              {{ form.password2.label(for="floatingPassword2") }}
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">注  册</button>
            <hr class="my-4">
              <a href="{{ url_for('login') }}">返回登陆</a>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>