{% extends 'head.html' %}

{% block body %}

<div class="container my-4">
    <div class="row">
        <div class='col-sm-6'>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ current_user.avatar(128) }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{current_user.username}}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
        {% include '_userdropdown.html' %}
      </ul>
    </div>

        </div>

    </div>
</div>
{% endblock %}