
{% extends "base.html" %}

{% block app_content %}
<h1>{{ user.username }}的项目</h1>
    <hr class="my-4">
<table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">项目id</th>
            <th scope="col">项目申报人</th>
            <th scope="col">项目类别</th>
            <th scope="col">项目类型</th>
            <th scope="col">项目名称</th>
            <th scope="col">邮箱</th>
            <th scope="col">项目状态</th>
            <th scope="col">项目申报时间</th>
          </tr>
          </thead>
          <tbody>
          {% for pc in project.items %}
          <tr>
            <th scope="row">{{ pc.Project.pro_id }}</th>
            <td>{{ pc.Applicant.app_name }}</td>
            <td>{{ pc.Pro_class.class_name }}</td>
            <td>{{ pc.Pro_class.pro_class_name }}</td>
            <td>{{ pc.Project.pro_name }}</td>
            <td>{{ pc.Project.email }}</td>
            <td>
                {% if pc.Project.pro_status == 'd' %}
                <span class="badge  bg-secondary">草稿</span>
                    {% if pc.Applicant.user_id == current_user.user_id %}
                    <a href="{{ url_for('applicant_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            编辑</button>
                    </a>
                    {% endif %}

                {% elif pc.Project.pro_status == 's' %}
                <span class="badge  bg-primary">已提交</span>
                    {% if pc.Applicant.user_id == current_user.user_id %}
                    <a href="{{ url_for('applicant_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if pc.Organization.user_id == current_user.user_id %}
                    <a href="{{ url_for('organization_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            上报</button>
                    </a>
                    {% endif %}

                {% elif pc.Project.pro_status == 'a' %}
                <span class="badge  bg-warning text-dark">待评审</span>
                    {% if pc.Applicant.user_id == current_user.user_id %}
                    <a href="{{ url_for('applicant_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if pc.Organization.user_id == current_user.user_id %}
                    <a href="{{ url_for('organization_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if current_user.status == 'e' %}
                    <a href="{{ url_for('expert_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            评审</button>
                    </a>
                    {% endif %}

                {% elif pc.Project.pro_status == 'p' %}
                <span class="badge  bg-success">评审通过</span>
                    {% if pc.Applicant.user_id == current_user.user_id %}
                    <a href="{{ url_for('applicant_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if pc.Organization.user_id == current_user.user_id %}
                    <a href="{{ url_for('organization_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if current_user.status == 'e' %}
                    <a href="{{ url_for('expert_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}

                {% else %}
                <span class="badge  bg-danger">不通过</span>
                    {% if pc.Applicant.user_id == current_user.user_id %}
                    <a href="{{ url_for('applicant_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if pc.Organization.user_id == current_user.user_id %}
                    <a href="{{ url_for('organization_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                    {% if current_user.status == 'e' %}
                    <a href="{{ url_for('expert_editproject_page', name=current_user.username, pro_id=pc.Project.pro_id) }}">
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            查看</button>
                    </a>
                    {% endif %}
                {% endif %}

            </td>
            <td class="pt">{{ pc.Project.pro_date }}</td>
          </tr>
          {% endfor %}
          </tbody>
          <nav aria-label="Another pagination example">
          <ul class="pagination flex-wrap">
            {% if prev_url %}
            <li class="page-item">
              <a class="page-link" href="{{ prev_url }}">上一页</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ prev_url }}">{{project.prev_num}}</a></li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">上一页</a>
            </li>
            {% endif %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">{{project.page}}</a>
            </li>
            {% if next_url %}
            <li class="page-item"><a class="page-link" href="{{ next_url }}">{{project.next_num}}</a></li>
            <li class="page-item {% if next_url %}disable{% endif %}">
              <a class="page-link" href="{{ next_url }}">下一页</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">下一页</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        </table>
<script>
moment.locale('zh-cn');
$(function () {
    $(".pt").each(function(){
        $t = $(this);
        //alert($t.text());
        $t.text(moment.utc($t.text()).local().format('lll'));
    });
});
</script>

{% endblock %}

